.idea/
__pycache__/
MADNet/__pycache__/
MADNet/.idea_/
MADNet/model/__pycache__/
MADNet/model/.ipynb_checkpoints/
MADNet/img/
MADNet/log/
img/
img*/
log/
log*/
MADNet.zip
checkpoint/
*.hdf5
*.h5
.vscode/